#pipboyOpener{
    background-image: url(../../assets/img/pipboy/opener.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#pipboyInterfaceContent{
  visibility: hidden;
}